.InformationPage {
  margin: 3%;
  margin-top: 0%;
  display: grid;
  justify-content: center;
}

.InformationPage h2 {
  margin-right: 1%;
  color: #ccad8f;
  font-size: 3rem;
  display: grid;
  justify-content: center;
}

.Title {
  margin: 3%;
  margin-top: 0%;
  display: grid;
  justify-content: center;
}

.PunchNumbers {
  color: white;
}
.PunchNumbers h3 {
  color: white;
  text-decoration: underline;
  display: grid;
  justify-content: center;
}
.PunchNumbers p {
  display: grid;
  justify-content: center;
}
.PunchNumbers ul {
  display: grid;
  justify-content: center;
}

.Library {
  justify-content: center;
  margin: 3%;
  color: white;
}
