.InformationPage {
  margin: 3%;
  margin-top: 0%;
  display: flex;
  justify-content: center;
}

.Title {
  margin: 3%;
  margin-top: 0%;
}

.Title button {
  height: fit-content;
}

.InformationPage h1 {
  margin-right: 1%;
  color: #ccad8f;
  font-size: 4rem;
}

.PunchNumbers {
  justify-content: center;
  color: white;
}
.PunchNumbers h3 {
  display: block;
  color: white;
  text-decoration: underline;
}
.PunchNumbers p {
  display: block;
}

.Library {
  display: inline-block;
  justify-content: center;
  margin: 3%;

  color: white;
}
