.WorkOutItem Col {
  border: 1rem solid red;
}

.WorkOutItem h3 {
  font-weight: bold;
  color: white;
  text-decoration: underline;
}

.WorkOutItem p {
  font-weight: normal;
  color: white;
  margin-inline-end: 10%;
}
