.ComboReader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Timer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.3rem solid #ccad8f;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  margin: 2%;
  margin-bottom: 0%;
}

.RoundContent {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
}

.RoundContent h2 {
  display: flex;
  justify-content: center;
  color: white;
}

.RoundContent p {
  display: flex;
  justify-content: center;
  font-size: large;
  color: white;
}

.RoundContent div {
  border: 0.3rem solid #ccad8f;
  width: 10em;
}

.RestTimer p {
  font-size: xx-large;
  font-weight: Bold;
}

.PauseButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

@media screen and (max-width: 750px) {
  .RoundContent h2 {
    font-size: normal;
  }

  .RoundContent p {
    font-size: small;
  }
}
